<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Grifindo_Payroll_system_new.Properties.Settings.PayrollConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Payroll;Persist Security Info=True;User ID=sa;Password=itonimta"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>